.chat {
  font-size: 17.5px;
  font-weight: 500;
  line-height: 26.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #8a8ea6;
  padding-left: 5px;
  font-family: 'Roboto';
}
.btn1 {
  width: Hug (166px) px;
  height: Hug (27px) px;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  border-radius: 5px;
  border: none;
  opacity: 0px;
  background: #fccc55;
  cursor: pointer;
  outline: none;
}
.btn2 {
  width: Hug (72px) px;
  height: Hug (27px) px;
  padding: 5px 15px 5px 15px;
  gap: 10px;
  border-radius: 5px;
  border: none;
  opacity: 0px;
  background: #e553bc;
  cursor: pointer;
  outline: none;
}
.caht2 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #8a8ea6;
}
.btn4 {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 17px;
  color: gray;
  font-weight: bold;
}
.firstOne {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
}
.head1 {
  font-size: 17px;
  background-color: #eef0f5;
  border-radius: 50%;
  padding: 10px;
  color: #4c6292;
  font-family: 'Roboto';
}
.head2 {
  color: #fccc55;
  padding: 10px;
  font-size: 17px;
  background-color: #eef0f5;
  border-radius: 50%;
  font-family: 'Roboto';
}

.des1 {
  font-size: 15px;
  padding-left: 10px;
  font-family: 'Roboto';
}
.firstTwo {
  background-color: #0f8bfd;
  color: white;
}
